In [1]:
#import depen.

import pandas as pd

In [6]:
#reading csv as df with pandas
review_df = pd.read_csv("vine_table.csv")

In [8]:
#show first 5 columns
review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [10]:
#filtering the df from above to show total votes which are equal to or greater then 20
reviews_more20 = review_df[review_df["total_votes"] >= 20]
reviews_more20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [11]:
#filtering df above to retrieve all rows where the # of helpful votes divided by zero is equal or greater then 50%

reviews_50 = reviews_more20[(reviews_more20["helpful_votes"]/reviews_more20["total_votes"]) >= .50]
reviews_50.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [40]:
# filtering df above to shows rows where a review was written as part of the Vine program(paid) "vine" = Y

reviews_vine_Y = reviews_50[reviews_50["vine"] == 'Y']
reviews_vine_Y.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4229,R1R9RU7JW0MFR2,4.0,20.0,23.0,Y,N
9120,R19EFYNN3W8Q07,5.0,26.0,32.0,Y,N
34704,R34DJ1R8AEU0SG,5.0,29.0,35.0,Y,N
38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N
49330,R2E9VZB3I4LSN5,5.0,55.0,59.0,Y,N

In [42]:
# filtering df above to shows rows where a review was not part of the Vine program(paid) "vine" = N

reviews_vine_N = reviews_50[reviews_50["vine"] == 'N']
reviews_vine_N.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [43]:
#creating df for Y
total_reviews_Y = reviews_vine_Y["review_id"].count()
total_reviews_Y

60

In [44]:
#df for five reviews and yes
five_reviews_Y = reviews_vine_Y[reviews_vine_Y["star_rating"] == 5].count()
five_reviews_Y["star_rating"]

34

In [45]:
#df for percentage of 5 review for yes
five_percentage_Y = five_reviews_Y["star_rating"]/total_reviews_Y

five_percentage_Y

0.5666666666666667

In [46]:
#creating df for N
total_reviews_N = reviews_vine_N["review_id"].count()
total_reviews_N

14477

In [47]:
#df for five reviews and no
five_reviews_N = reviews_vine_N[reviews_vine_N["star_rating"] == 5].count()
five_reviews_N["star_rating"]

8212

In [48]:
#df for percentage of 5 review for no
five_percentage_N = five_reviews_N["star_rating"]/total_reviews_N

five_percentage_N

0.5672445948746287

In [56]:
#create a summary for total reviews for paid and unpaid
print("The total number of paid reviews %f" % total_reviews_Y)
print("The total number of paid reviews %f" % total_reviews_N)

The total number of paid reviews 60.000000
The total number of paid reviews 14477.000000

In [64]:
#create a summary for total of 5 star reviews for paid and unpaid
print("The total number of paid  5 star reviews %f" % five_reviews_Y["star_rating"])
print("The total number of unpaid  5 star reviews %f" % five_reviews_N["star_rating"])

The total number of paid  5 star reviews 34.000000
The total number of unpaid  5 star reviews 8212.000000

In [65]:
#create a summary for percentage 5 star reviews for paid and unpaid
print("The total number of paid  5 star reviews %f" % (five_percentage_Y *100))
print("The total number of unpaid  5 star reviews %f" % (five_percentage_N *100))

The total number of paid  5 star reviews 56.666667
The total number of unpaid  5 star reviews 56.724459